:root {
    --primary_color: rgb(167, 167, 167);
    --secondary_color: rgb(0, 0, 0);
    --nav_color: rgb(255, 255, 255);
    --text_color: rgb(255, 255, 255);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.appMain {
    background-color: var(--primary_color);
    color: var(--secondary_color);
}

.textmain {
    color: var(--text_color);
}

.textprimary {
    color: var(--primary_color);
}

.textsecondary {
    color: var(--secondary_color);
}

.bgprimary {
    background-color: var(--primary_color);
}

.bgsecondary {
    background-color: var(--secondary_color);
}



.text-3D {
    background: linear-gradient(to right, var(--secondary_color), var(--primary_color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    text-shadow:
        0px 0px 0px rgb(255, 255, 255, 0.7),
        0px 0px 0px rgba(0, 0, 0, 0.2),
        0px 0px 0px rgba(0, 0, 0, 0.1);
}


.dot1 {
    width: 0.8rem;
    height: 0.8rem;
    background: linear-gradient(to top right, black, white);
    border-radius: 100%;
    box-shadow: 0 10px 15px -3px black;
    position: absolute;
    top: 0.5rem;
    left: 0.5em;
}

.dot2 {
    width: 0.8rem;
    height: 0.8rem;
    background: linear-gradient(to top right, black, white);
    border-radius: 100%;
    box-shadow: 0 10px 15px -3px black;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.dot3 {
    width: 0.8rem;
    height: 0.8rem;
    background: linear-gradient(to top right, black, white);
    border-radius: 100%;
    box-shadow: 0 10px 15px -3px black;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

.dot4 {
    width: 0.8rem;
    height: 0.8rem;
    background: linear-gradient(to top right, black, white);
    border-radius: 100%;
    box-shadow: 0 10px 15px -3px black;
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
}


.text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    animation: typeAndDelete 4s steps(20) infinite;
    /* margin-top: 1.5em; */
}

@keyframes typeAndDelete {

    0%,
    10% {
        width: 0;
    }

    45%,
    55% {
        width: 10em;
    }

    /* adjust width based on content */
    90%,
    100% {
        width: 0;
    }
}