:root {
    --primary_color: rgb(0, 0, 0);
    --secondary_color: rgb(111, 111, 111);
    --nav_color: rgb(255, 255, 255);
    --text_color: rgb(255, 255, 255);
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.textmain {
    color: var(--text_color);
}

.textprimary {
    color: var(--primary_color);
}

.textsecondary {
    color: var(--secondary_color);
}

.bgprimary {
    background-color: var(--primary_color);
}

.bgsecondary {
    background-color: var(--secondary_color);
}



.text-3D {
    background: linear-gradient(to right, var(--secondary_color), var(--primary_color));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    text-shadow:
        2px 2px 0 rgba(255, 255, 255, 0.2),
        4px 4px 0 rgba(0, 0, 0, 0.2),
        6px 6px 0 rgba(0, 0, 0, 0.1);
}


.dot1 {
    width: 0.8rem;
    height: 0.8rem;
    background: linear-gradient(to top right, black, white);
    border-radius: 100%;
    box-shadow: 0 10px 15px -3px black;
    position: absolute;
    top: 0.5rem;
    left: 0.5em;
}

.dot2 {
    width: 0.8rem;
    height: 0.8rem;
    background: linear-gradient(to top right, black, white);
    border-radius: 100%;
    box-shadow: 0 10px 15px -3px black;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.dot3 {
    width: 0.8rem;
    height: 0.8rem;
    background: linear-gradient(to top right, black, white);
    border-radius: 100%;
    box-shadow: 0 10px 15px -3px black;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

.dot4 {
    width: 0.8rem;
    height: 0.8rem;
    background: linear-gradient(to top right, black, white);
    border-radius: 100%;
    box-shadow: 0 10px 15px -3px black;
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
}