@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: rgb(79 70 229); /* indigo-600 */
    --color-primary-hover: rgb(67 56 202); /* indigo-700 */
    --color-secondary: rgb(224 231 255); /* indigo-100 */
    --color-secondary-hover: rgb(199 210 254); /* indigo-200 */
    --color-secondary-text: rgb(55 48 163); /* indigo-800 */
  }

  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-gray-50 text-gray-900;
  }

  ::selection {
    @apply bg-primary text-white;
  }
}